.btn {
  padding: 30px 40px;
  font-size: 12px;
  font-weight: 15px;
  letter-spacing: 2.3px;
  text-transform: uppercase;
  color: $basic-white;
  background-color: $basic-accent;
  border: none;
}

.btn--price {
  padding: 30px 22%;
}
