.container {
  @include padding;

  max-width: $min-desktop;
  margin: auto;
}

.container--header {
  display: flex;
  justify-content: space-between;
}

.container--promo {
  padding: 187px 20px 50px 731px;
}

