.container {
  @include padding;

  max-width: 84.5%;
  margin: auto;

  @media (max-width: $min-desktop - 1px) {
    @include padding(20px, 20px);
    max-width: 100%;
  }
}

.container--header {
  display: flex;
  justify-content: space-between;

  @media (max-width: $min-desktop - 1px) {
    flex-direction: column;
    padding-right: 0;
    padding-left: 0;
  }
}

.container--promo {
  padding: 187px 20px 50px 50.2%;

  @media (max-width: $min-desktop - 1px) {
    width: 60%;
    padding: 60px 0 83px 0;
    margin: auto;
  }

  @media (max-width: $min-tablet - 1px) {
    width: 89%;
    padding: 82px 0 83px 0;
  }
}

.container--place {
  @media (max-width: $min-tablet - 1px) {
    @include padding(15px, 15px);
  }
}

.container--trip {
  @media (max-width: $min-desktop - 1px) {
    padding: 0;
  }
}

.container--price {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 25px;

  @media (max-width: $min-desktop - 1px) {
    flex-direction: column;
  }
}

.container--contact {
  padding-top: 68px;
  padding-bottom: 68px;
  background-image: url("../img/contact-background.png");
  background-repeat: no-repeat;
  background-position-x: 11%;
  background-size: auto 100%;

  @media (max-width: $min-desktop - 1px) {
    padding-top: 70px;
    padding-bottom: 74px;
    background-size: cover;
  }

  @media (max-width: $min-tablet - 1px) {
    padding: 20px 15px 50px;
    background-image: none;
    background-color: $light-grey;
  }
}

.container--footer {
  display: flex;

  @media (max-width: $min-desktop - 1px) {
    flex-wrap: wrap;
  }

  @media (max-width: $min-tablet - 1px) {
    @include padding(15px, 15px);
  }
}
