.container {
  @include padding;

  max-width: 84.5%;
  margin: auto;
}

.container--header {
  display: flex;
  justify-content: space-between;
}

.container--promo {
  padding: 187px 20px 50px 50.2%;
}

.container--price {
  display: flex;
  flex-direction: row-reverse;
}

.container--contact {
  padding-top: 68px;
  padding-bottom: 68px;
  background-image: url("../img/contact-background.png");
  background-repeat: no-repeat;
  background-position-x: 11%;
  background-size: auto 100%;
}
