.footer {
  position: relative;
  @include basic-font(14px, 17px);

  padding-bottom: 75px;
  color: rgba($basic-dark, 0.5);
}

.footer__title {
  @include weight-font(18px, 32px);

  color: $basic-dark;
}

.footer__next-trip {
  flex-basis: 34.5%;
}

.footer__contacts {
  flex-basis: 33.5%;
}

.footer__corporate-trip {
  flex-basis: 32%;
}

.footer__title {
  @include zero;

  letter-spacing: 0;
}


