.main {
  position: relative;
}

.main__promo {
  margin-top: 30px;
}

.main__place {
  margin-top: 200px;
}

.main__background-box {
  background-image: url("../img/main-background.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 130px;
}

.main__price {
  margin-top: 237px;
}

.main__contact {
  margin-top: 140px;
}
