.main {
  position: relative;
}

.main__promo {
  margin-top: 30px;

  @media (max-width: $min-desktop - 1px) {
    margin-top: 0;
  }
}

.main__place {
  margin-top: 200px;

  @media (max-width: $min-desktop - 1px) {
    margin-top: 80px;
  }

  @media (max-width: $min-tablet - 1px) {
    margin-top: 28px;
  }
}

.main__background-box {
  @media (min-width: $min-desktop) {
    background-image: url("../img/main-background.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 130px;
  }
}

.main__trip {
  @media (max-width: $min-desktop - 1px) {
    margin-top: 85px;
  }

  @media (max-width: $min-tablet - 1px) {
    margin-top: 5px;
  }
}

.main__price {
  margin-top: 237px;

  @media (max-width: $min-desktop - 1px) {
    margin-top: 112px;
  }

  @media (max-width: $min-tablet - 1px) {
    margin-top: 28px;
  }
}

.main__contact {
  margin-top: 140px;

  @media (max-width: $min-desktop - 1px) {
    margin-top: 125px;
  }

  @media (max-width: $min-tablet - 1px) {
    margin-top: 8px;
  }
}
