.next-trip {
  position: relative;
}

.next-trip__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 22px;
  letter-spacing: 0;
}

.next-trip__item {
  flex-basis: 50%;
  margin-bottom: 10px;

  @media (min-width: 1190px) {
    flex-basis: 33%;
  }

  @media (max-width: $min-desktop - 1px) {
    flex-basis: 33.3%;
  }
}
