.order-form {
  position: relative;
}

.order-form__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: $min-desktop - 1px) {
    justify-content: space-around;
  }
}

.order-form__input {
  min-width: 270px;
  margin-bottom: 20px;
  padding: 13px 27px;
  background-color: transparent;

  border: 1px solid rgba($basic-dark, 0.5);

  &--email {
    padding-left: 15px;
  }

  @media (max-width: $min-desktop - 1px) {
    padding: 15px 27px;
    margin-bottom: 15px;

    &--email {
      padding-left: 15px;
    }
  }

  @media (max-width: $min-tablet - 1px) {
    min-width: 290px;
    margin-bottom: 20px;
  }
}

.order-form__input::placeholder {
  @include basic-font(14px, 17px);

  color: $basic-dark;
  letter-spacing: 0;
}

.order-form__btn {
  display: block;
  margin: auto;
  margin-top: 5px;

  @media (max-width: $min-desktop - 1px) {
    width: 45%;
  }

  @media (max-width: $min-tablet - 1px) {
    width: 100%;
    margin-top: 0;
  }
}

