.page {
  height: 100%;
  font-family: "Montserrat", "Arial", "Helvetica", sans-serif;
}

.page__body {
  position: relative;
  min-height: 100%;
  margin: 0 auto;
}

.page__footer {
  margin-top: 170px;

  @media (max-width: $min-desktop - 1px) {
    margin-top: 78px;
  }
}
