.place-item {
  position: relative;

}

.place-item__title {
  @include zero;
  @include medium-font;

  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 20%;
  min-width: 61%;
  padding: 20px 0;
  text-align: center;
  background-color: $basic-white;
}

.place-item__link {
  @include medium-font;

  position: absolute;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $basic-white;
}
