.price-contact {
  position: relative;
}

.price-contact__appeal {
  @include zero;
  @include medium-font(22px, 34px);

  letter-spacing: 0;
  color: $basic-dark;

  @media (max-width: $min-desktop - 1px) {
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
  }

}

.price-contact__phone {
  @include basic-font(20px, 32px);

  margin-top: 13px;
  letter-spacing: 0;
  white-space: nowrap;
  color: $basic-black;

  @media (max-width: $min-desktop - 1px) {
    display: block;
    margin-top: 10px;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: $basic-accent;
    text-decoration-line: underline;
  }
}
