.promo {
  position: relative;
  min-height: 860px;
  background-color: $dark-grey;
  background-image: url("../img/promo_desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: $min-desktop - 1px) {
    width: 100%;
    min-height: 334px;
    background-image: url("../img/promo_tablet.jpg");
  }
}

.promo__title {
  color: $basic-white;
}

.promo__content {
  @include basic-font(16px, 27px);

  margin-top: 27px;
  padding-right: 25%;
  color: $basic-white;

  @media (max-width: $min-desktop - 1px) {
    margin-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
  }
}

.promo__link {
  width: 70%;
  margin-top: 35px;
  padding: 25px 40px 30px 40px;
  background-color: $basic-accent;

  @media (max-width: $min-desktop - 1px) {
    display: block;
    margin: auto;
    width: 55%;
    margin-top: 10px;
    padding: 13px 30px 18px 40px;
  }
}
