.review {
  background-color: $basic-white;
}

.review__title {
  @include zero;
  padding: 30px;
  @include medium-font(30px, 37px);

  position: relative;
  letter-spacing: -0.691667px;

  &::after {
    position: absolute;
    content: "";
    left: 28px;
    bottom: 18px;
    width: 18%;
    height: 1px;
    background-color: $basic-accent;
  }

  @media (max-width: $min-tablet - 1px) {
    padding-top: 33px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.review__item {
  @include zero;
  padding: 3px 25px 0px 30px;

  @media (max-width: $min-desktop - 1px) {
    padding-right: 30px;
    padding-bottom: 62px;
  }

  @media (max-width: $min-tablet - 1px) {
    display: flex;
    flex-direction: column;
    padding: 0 20px 50px;
    text-align: center;
  }
}

.review__content {
  @include zero;

  margin-bottom: 98px;
  font-size: 14px;

  @media (max-width: $min-desktop - 1px) {
    margin-bottom: 5px;
  }
}

.review__author-avatar {
  display: inline-block;
  position: absolute;
  bottom: 8%;
  border-radius: 50%;

  @media (max-width: $min-desktop - 1px) {
    bottom: 0;
  }

  @media (max-width: $min-tablet - 1px) {

    position: relative;
    margin-top: 14px;
    text-align: center;
  }
}

.review__author-name {
  @include medium-font(16px, 20px);

  position: absolute;
  bottom: 10%;
  left: 22.5%;
  font-style: normal;
  color: $light-dark;

  @media (max-width: $min-desktop - 1px) {
    bottom: 1.5%;
    left: 21.5%;
  }

  @media (max-width: $min-tablet - 1px) {
    display: inline-block;
    position: relative;
    bottom: auto;
    left: auto;
    width: 100%;
    margin: auto;
    margin-top: 7px;
    padding-left: 10px;
  }
}
