.review {
  background-color: $basic-white;
}

.review__title {
  @include zero;
  padding: 30px;
  @include medium-font(30px, 37px);

  letter-spacing: -0.691667px;
}

.review__item {
  @include zero;
  padding: 3px 25px 50px 30px;

  @media (max-width: $min-desktop - 1px) {
    padding-right: 30px;
    padding-bottom: 62px;
  }
}

.review__content {
  @include zero;

  margin-bottom: 98px;
  font-size: 14px;

  @media (max-width: $min-desktop - 1px) {
    margin-bottom: 5px;
  }
}

.review__author-avatar {
  display: inline-block;
  position: absolute;
  bottom: 8%;
  border-radius: 50%;

  @media (max-width: $min-desktop - 1px) {
    bottom: 0;
  }
}

.review__author-name {
  @include medium-font(16px, 20px);

  position: absolute;
  bottom: 10%;
  left: 22.5%;
  font-style: normal;
  color: $light-dark;

  @media (max-width: $min-desktop - 1px) {
    bottom: 1.5%;
    left: 21.5%;
  }
}
