.trip-nav {
  position: relative;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba($light-dark, 0.3);
}

.trip-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.trip-nav__item {
  @media (max-width: 1465px) {
    max-width: 10%;
  }
  @media (max-width: $min-desktop - 1px) {
    max-width: 25%;
    width: 20%;
  }
}

.trip-nav__item:not(:last-child) {
  margin-right: 11%;

  @media (max-width: $min-desktop - 1px) {
    margin-right: 0;
  }
}

.trip-nav__item:last-child {
  display: none;
}

.trip-nav__radio {
  position: absolute;
  appearance: none;
}

.trip-nav__label {
  @include medium-font(20px, 24px);


  color: rgba($light-dark, 0.3);
}


