.trip {
  position: relative;
}

.trip__title {
  letter-spacing: -1.245px;
  padding-right: 10px;

  @media (max-width: $min-desktop - 1px) {
    padding-right: 0;
  }

  @media (max-width: $min-tablet - 1px) {
    letter-spacing: 0.5px;
  }
}

.trip__nav {
  width: 77%;
  min-width: 850px;

  @media (max-width: $min-desktop - 1px) {
    margin-left: 40px;
    min-width: 93.5%;
  }

  @media (max-width: $min-tablet - 1px) {
    margin-left: 15px;
    min-width: 93.5%;
  }
}

.trip__list {
  margin-top: 93px;

  @media (max-width: $min-desktop - 1px) {
    margin-top: 30px;
  }

  @media (max-width: $min-tablet - 1px) {
    margin-top: 24px;
  }
}

.trip__content {
  margin-top: 55px;

  @media (max-width: $min-desktop - 1px) {
    margin-top: 22px;
    text-align: center;
  }

  @media (max-width: $min-tablet - 1px) {
    margin-top: 20px;
  }
}

.trip__card {
  position: relative;
  display: flex;

  @media (max-width: $min-desktop - 1px) {
    flex-direction: column;
  }
}

.trip__content-box {
  width: 40%;
  min-width: 370px;
  padding-right: 8%;
  padding-bottom: 19px;

  @media (max-width: $min-desktop - 1px) {
    width: 100%;
    @include padding(20px, 20px);
    padding-bottom: 30px;
  }

  @media (max-width: $min-tablet - 1px) {
    width: 95%;
    min-width: 100%;
    padding-bottom: 50px;
  }
}

.trip__book {
  margin-top: 48px;

  @media (max-width: $min-desktop - 1px) {
    display: block;
    width: 35%;
    margin: auto;
    margin-top: 20px;
  }

  @media (max-width: $min-tablet - 1px) {
    width: 100%;
    margin-top: 18px;
  }
}

.trip__box {
  width: 60%;
  background-position: left;
  background-repeat: no-repeat;

  &--greece {
    background-image: url("../img/greece-trip_desktop@1x.jpg");
  }
  &--albania {
    background-image: url("../img/albania-trip_desktop@1x.jpg");
  }
  &--macedonia {
    background-image: url("../img/macedonia-trip_desktop@1x.jpg");
  }
  &--montenegro {
    background-image: url("../img/montenegro-trip_desktop@1x.jpg");
  }
  &--croatia {
    background-image: url("../img/croatia-trip_desktop@1x.jpg");
  }

  @media (max-width: $min-desktop - 1px) {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 415px;
    background-size: cover;

    &--greece {
      background-image: url("../img/greece-trip_tablet@1x.jpg");
    }
    &--albania {
      background-image: url("../img/albania-trip_tablet@1x.jpg");
    }
    &--macedonia {
      background-image: url("../img/macedonia-trip_tablet@1x.jpg");
    }
    &--montenegro {
      background-image: url("../img/montenegro-trip_tablet@1x.jpg");
    }
    &--croatia {
      background-image: url("../img/croatia-trip_tablet@1x.jpg");
    }
  }

  @media (max-width: $min-tablet - 1px) {
    background-position: center top;
    background-size: auto;
  }
}

.trip__review {
  position: absolute;
  right: 0.5%;
  width: 374px;

  @media (min-width: $min-desktop) {
    top: 17%;
  }

  @media (max-width: $min-desktop - 1px) {
    position: relative;
    align-self: flex-end;
    width: 380px;
  }

  @media (max-width: $min-tablet - 1px) {
    width: 268px;
    margin-top: 50px;
  }
}
