.us-contacts {
  position: relative;

}

.us-contacts__list {
  margin-top: 25px;
  padding-left: 40px;

  @media (max-width: $min-tablet - 1px) {
    text-align: center;
  }
}

.us-contacts__item {
  margin-bottom: 25px;
}

.us-contacts__link {
  white-space: nowrap;
  letter-spacing: 0;
  color: $basic-accent;
  text-decoration: underline;

  &--phone {
    font-size: 16px;
  }
}
